<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pan Tadeusz</title>
</head>
<body>
    <header>
        <h1>Sir Thaddeus, or the Last Foray in Lithuania: A Nobility's Tale of the Years 1811–1812, in Twelve Books of Verse</h1>
    </header>
    <section>
        <h2>Table of contents</h2>
        <ul>
            <li><a href="./">Main Page</a></li>
            {% for book in range(1,13) %}
                <li><a href="./k{{book}}">Book {{book}}</a></li>
            {% endfor %}
        </ul>

    </section>
    <section>
        {% block content %}
            <p>Layout page content.</p>
        {% endblock %}
    </section>
    <footer>
        <p>Maksym Prylukin</p>
    </footer>
</body>
</html>